@import '../../globals/styles/modules/base/all';

.switch-text{
    height: 12px;
    width: 20px;
    color: #323232;
    font-family: Lato;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
}